.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/.idea
strings.xml
/strings.xml
/app/src/main/res/values/strings.xml
/home/vishnu/Workspace/AndroidStudioProjects/The-Mind/ParseLoginSampleBasic/*
/home/vishnu/Workspace/AndroidStudioProjects/The-Mind/ParseLoginSampleCodeCustomization/*
/home/vishnu/Workspace/AndroidStudioProjects/The-Mind/ParseLoginSampleLayoutOverride/*
/home/vishnu/Workspace/AndroidStudioProjects/The-Mind/ParseLoginSampleWithDispatchActivity/*
/home/vishnu/Workspace/AndroidStudioProjects/The-Mind/ParseLoginUI/*

